body {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.customNav {
	background-color: #c28b71;
}
.customNav li.nav-item {
	color: white;
	font-size: 20px;
	text-decoration-style: solid;
	font-family: Montserrat;
}

.elitelogo {
	height: 60px;
	width: auto;
}

h1 {
	font-family: Archivo Narrow;
	color: #c28b71;
}

h2 {
	font-family: Montserrat;
	color: #707070;
}

h3 {
	font-family: Archivo Narrow;
	color: #707070;
}

h4 {
	color: #c28b71;
}

h5 {
	font-family: Archivo Narrow;
	color: #707070;
}

.carousel-inner img {
	width: 100%;
}
